<div class="help-section-richtext">
	<div class="questions_block_wrap" style="width: 100%; padding: 2rem; border-radius: 10px;">
		{% for faq in helpSection.faqs %}
			<div class="question_block">
				<h3>
					<span class="accordion-title-text">{{ faq.question }}</span>
					<span class="accordion-icon" data-accordion-icon="">
						<svg class="accordion-icon-svg" viewbox="0 0 17 8.85">
							<polyline data-accordion-icon-shape="" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd" points="15 1.13 8.5 7.72 2 1.13">
								<animate data-accordion-animate="expand" attributename="points" values="15 1.13 8.5 7.72 2 1.13; 15.85 4.42 8.5 4.42 1.15 4.42; 15 7.72 8.5 1.13 2 7.72" dur="320ms" begin="indefinite" fill="freeze" keytimes="0; 0.5; 1" calcmode="spline" keysplines="0.12, 0, 0.38, 0; 0.2, 1, 0.68, 1"></animate>
								<animate data-accordion-animate="collapse" attributename="points" values="15 7.72 8.5 1.13 2 7.72; 15.85 4.42 8.5 4.42 1.15 4.42; 15 1.13 8.5 7.72 2 1.13" dur="320ms" begin="indefinite" fill="freeze" keytimes="0; 0.5; 1" calcmode="spline" keysplines="0.2, 0, 0.68, 0; 0.2, 1, 0.68, 1"></animate>
							</polyline>
						</svg>
					</span>
				</h3>
				<div class="faq-answer">{{ faq.answer|raw }}</div>
				<hr>
			</div>
		{% endfor %}
	</div>
</div>
