* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: 'Poppins', Arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

section {
	box-sizing: border-box;
	padding: 60px 0 0 60px;
	margin-bottom: 60px;
}

.gray_back {
	background: #F5F5F7;
}

h2 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.white_header {
	color: white;
}

.centered_header {
	text-align: center;
}

.back_full_picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

.back_full_picture img {
	width: 100%;
	height: 100%;
}

.promo {
	height: 30px;
	background: #4C4C4C;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	position: sticky;
	top: 0;
	z-index: 999;
}

.promo p {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 500;
}

.promo p:hover {
	background: #838383;
	cursor: pointer;
}

nav {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	position: relative;
	background: #FFFFFF;
}

nav .links {
	display: flex;
	gap: 25px;
}

nav .links a {
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: black;
	padding-bottom: 4px;
	position: relative;
}

nav .links a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background-color: #000000;
	transition: width 0.3s ease;
}

nav .links a:hover::after,
nav .links a:focus::after {
	width: 100%;
}

.logo_nav {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.logo_nav p {
	font-size: 32px;
	font-weight: 400;
}

.logo_nav img,
.logo_nav p {
	opacity: 0;
	transition: 0.3s ease;
}

.logo_nav img {
	display: none;
}

.logo_nav .active {
	opacity: 1;
}

.header_interactive {
	display: flex;
	gap: 25px;
	align-items: center;
}

.header_interactive div:hover {
	cursor: pointer;
	background: #42424215;
	border-radius: 100%;
}

.header_book {
	background: #4C4C4C;
	cursor: pointer;
	padding: 7px 15px;
	border: none;

	color: white;
	font-size: 18px;
	font-weight: 500;
	border-radius: 60px;
	transition: background 0.3s ease;
}

.header_book:hover {
	background: #000000;
}

.transparent_white_button {
	background: transparent;
	cursor: pointer;
	padding: 8px 20px;
	border: solid 1px white;

	color: white;
	font-size: 16px;
	font-weight: 500;
	border-radius: 60px;
	transition: 0.3s ease;
}

.transparent_white_button:hover {
	background: #ffffff;
	color: black;
}

footer {
	background: black;
	color: white;

	padding: 15px 30px 15px 30px;
}

footer div {
	margin-bottom: 30px;
}

footer h3 {
	font-size: 22px;
	font-weight: 400;

	display: inline-block;
	position: relative;
}

footer .logo_wrap h3 {
	margin-left: 10px;
}

footer .logo_wrap h3::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background-color: #ffffff;
	transition: width 0.3s ease;
}

footer .content {
	display: flex;
	justify-content: space-between;
}

footer .links {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

footer .links a {
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
}

footer .links a:hover {
	font-weight: 300;
}


.extra_info {
	text-align: center;
	margin: 0;
}

.extra_info a {
	color: white;
	text-decoration: none;
}

.extra_info a:hover {
	color: rgb(87, 87, 87);
}

.additional_information {
	padding: 60px;
}

.questions_block_wrap {
	border-radius: 28px;
	background-color: rgb(245, 245, 247);
	padding: 120px;
	margin: auto;

	width: 60%;
}

.question_block {
	overflow: hidden;
}

.question_block h3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordion-icon {
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(134, 134, 139);
	width: 1em;
	height: auto;
	stroke-width: 2.25;
	margin: 0px;
	transition: color 100ms linear;
}

.accordion-icon .accordion-icon-svg {
	width: 1em;
	cursor: pointer;
}

.accordion-title-text {
	font-size: 28px;
	line-height: 1.1428571429;
	font-weight: 600;
	letter-spacing: .007em;

	padding-top: 1em;
	padding-bottom: 1em;
}

.question_block p {
    font-size: 17px;
    line-height: 1.47;
    font-weight: 400;
    letter-spacing: -0.022em;

    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    padding-bottom: 0;
}

.question_block p.opened {
    padding-bottom: 1em;
}
