@use "variables" as *;

.contacts {
	padding-right: var(--big-padding);

	.content {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}

	.contact_block {
		margin-bottom: 1.875rem;

		h3 {
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 1.25rem;
		}

		.contact_with_icon {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 1rem;

			a {
				text-decoration: none;
				color: black;

				&:hover {
					color: gray;
				}
			}

			img {
				width: 24px;
			}

			.phone_icon {
				width: 18px !important;
			}
		}
	}

	.social_media {
		img {
			&:hover {
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
				border-radius: 8px;
			}
		}
	}
}

// map separately, without nesting
#contactsMap {
	width: 70%;
}

@media (max-width: 1024px) {
	.contacts {
		.content { flex-direction: column; }
		.contacts_wrap {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
	#contactsMap {
		width: 100%;
		height: 300px;
	}
}

@media (max-width: 480px) {
	.contacts {
		h2 { text-align: center;}
		.content {
			align-items: center;
		}
		.contacts_wrap {
			grid-template-columns: 1fr;
		}
		.contact_block {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			h3 { font-size: 1.25rem; }
		}
	}
}