@use "variables" as *;

.message-box {
	padding: var(--big-padding) 0;
	width: 50%;
	margin: auto;
}

._failed {
	border-bottom: solid 4px red !important;
}

._failed i {
	color: red !important;
}

._success {
	box-shadow: 0 15px 25px #00000019;
	padding: 2.8rem;
	width: 100%;
	text-align: center;
	margin: 2.5rem auto;
	border-bottom: solid 4px #28a745;
	box-sizing: border-box;
}

._success i {
	font-size: 3rem;
	color: #28a745;
}

._success h2 {
	margin-bottom: 1.75rem;
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 1.75rem;
	text-align: center;
}

._success p {
	margin-bottom: 0px;
	font-size: 1.125rem;
	color: #495057;
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	.message-box {
		width: 85%;
	}
}

@media screen and (max-width: 480px) {
	._success h2 {
		font-size: 1.5rem;
	}

	._success p {
		font-size: 1rem;
	}

	.message-box {
		width: 95%;
	}
}