{% block price_grid_widget %}
	<div class="price-grid-field js-price-grid">
		{{ block('form_widget_simple') }}
		<div class="price-grid-editor js-price-grid-editor" aria-live="polite"></div>
	</div>
{% endblock %}
