{% block promo_rotator_widget %}
	<div class="promo-rotator-field js-promo-rotator">
		{{ block('form_widget_simple') }}
		<div class="promo-rotator-editor js-promo-rotator-editor" aria-live="polite"></div>
	</div>
{% endblock %}
