<form id="swal-category-form">
	<div class="alert alert-danger" style="display: none;"></div>
	<div class="full">
		<label for="category_name">Category</label>
		<input type="text" name="name" id="category_name" required class="form-control">
	</div>
</form>
