<p>Hi {{ name }},</p>
<p>You have requested to change your email for M.K. Aesthetic Clinic:</p>
<h2>
	To continue, please use the following link within 3 hours:<br>
	<a href="{{ verification_link }}">Change email</a>
</h2>
<p>If that link doesn't work, please copy and paste the following link into your browser:</p>
<p>{{ verification_link }}</p>
<br>
<p>If you didn't request a email change, please ignore this email.</p>
