<h1>Welcome to M.K. Aesthetic Clinic, {{ name }}!</h1>
<p>This email is sent to finish your registration process.</p>
<br>
<h2>Please confirm your email <a href="{{ verification_link }}">click here</a></h2>
<p>If that link doesn't work, please copy and paste the following link into your browser:</p>
<p>{{ verification_link }}</p>
<br>
<p><a href="https://mkaestheticclinic.com">mkaestheticclinic.com</a></p>