<form action="{{ path('consultation_request') }}" id="appointment-form" method="POST" data-book-type="consultation">
	<h3>Write them to us</h3>
	<span>Leave your data and we will call you back</span>
	<div class="alert alert-danger" style="display: none;" id="booking-form-errors"></div>
	<input type='text' placeholder="Name..." name="name" required value="{{ app.user ? app.user.firstName ~ ' ' ~ app.user.lastName : '' }}">
	<input type='tel' placeholder="+44 7XXX XXX XXX" name="phone" required value="{{ app.user and app.user.phone ? app.user.phone : '' }}">
	<textarea type='text' placeholder="Your question...." name="question" required></textarea>
	<div class="data_processing_agreement">
		<input type="checkbox" name="agreement" required>
		<p>I agree to the
			<span>processing of my data</span>
		</p>
	</div>
	<button type="submit">Send</button>
</form>
