<section class="online_book">
	<div class="back_full_picture">
		<img src="{{ asset('media/book_pic_1_1.png') }}" alt="back">
	</div>
	<div class="content">
		<span>About bookings & what we offer</span>
		<h2>Book your visit</h2>
		<p>
			Reserve a spot and enjoy a seamless experience tailored to your needs.
			From personal consultations to exclusive sessions — secure your time with us and be sure you won’t miss out.
		</p>
		<button class="transparent_white_button book_now">Book now</button>
	</div>
</section>
