<section class="online_book">
	<div class="back_full_picture">
		<img src="{{ asset('media/welcome_3.webp') }}" alt="back">
	</div>
	<div class="content">
		<span>About consultation & expert guidance</span>
		<h2>Book your consultation</h2>
		<p>
			Get personalized advice and clear answers to your questions. Reserve your consultation and take the first step toward informed, confident decisions.
		</p>
		<a class="transparent_white_button" href="{{ get_pabau_treatment_url(consultationCategoryMasterId) }}">
			Get now
		</a>
	</div>
</section>