<div id="preloader">
	<div class="logo_el_wrap">
		<div class="logo-container">
			<img src="{{ asset('media/footer_logo.svg') }}" alt="Logo" class="logo">
		</div>
		<div class="clinic-name">
			<span>M.K. Aesthetic Clinic</span>
		</div>
	</div>
</div>